html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

h2, p {
  margin: 0;
  text-overflow: ellipsis;
}

#App {
  background-color: #fff;
  min-height: 100%;
}

.header {
  background-color: #6441A5;
  height: 100px;
}

#stream-search {
  display: inline-block;
  margin-top: 50px;
  margin-left: 30px;
}

.content {
  position: relative;
  padding: 10px;
}

.content-info {
  position: relative;
}

.content-info p {
  font-size: 12px;
}

#pager {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.arrow {
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  cursor: pointer;
}

.arrow-left {
  border-right:6px solid black;
}

.arrow-right {
  border-left: 6px solid black;
  top: 0;
  right: 0;
}

.page-position {
  margin: auto 15px;
}

.stream {
  position: relative;
  height: 90px;
  margin: 10px 0;
  overflow: hidden;
}

.stream-info {
  position: absolute;
  top: 0px;
  margin-left: 170px;
}

.stream-info a {
  color: #000;
  text-decoration: none;
}

.stream-info a:hover {
  text-decoration: underline;
}

.stream-description {
  margin-top: 5px;
}


@media screen and (min-width: 800px) {
  
  #App {
    min-height: 80%;
    width: 60%;
    margin: 40px auto;
  }

  .stream {
    width: 95%;
    margin: 10px 2%;
  }
}
